/* Font css */
/* hiermee wordt het lettertype voor de hoofdtekst ingesteld
op sans-serif en verbergt de horizontale overflow alsook
krijg je een light blauwe achtergrond */
body {
  font-family: sans-serif;
  overflow-x: hidden;
  background: var(--light-blue);
}
/* Verwijdert de underline van een link en geeft het een witte kleur
 */
a {
  text-decoration: none;
  color: var(--white);
}
/* zet de cursor in als aanwijze voor kopellingen, afbeeldingen en SVG elementen
 */
a,
img,
svg {
  cursor: pointer;
}
input{
  border: 1px solid white !important;
  color: white !important;
}
.text-light{
  color: white !important;
}
textarea{
  border: 2px solid white !important;
}
figcaption{
  color: white;
  text-align: left !important;
  font-size: 14px !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Kleur Variables */
/* Definieert de kleur voor hele gebruik van stylesheet */
:root {
  --light-blue: #265a5b;
  --white: #ffff;
  --grey: #979797;
  --brown: #bb946e;
}
.grey {
  color: #cccccc;
}
.wrapper {
  background: var(--light-blue);
  height: auto;
}
#myheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: var(--light-blue);
}
#myheader ul {
  display: flex;
  width: 475px !important;
  flex-wrap: wrap;
  padding-left: 0px;
  margin-bottom: 0px;
}
#myheader ul li:nth-child(1) {
  margin-left: 0px;
}
#myheader ul li {
  list-style-type: none;
  margin-right: 20px;
  position: relative;
  margin-bottom: 10px;
}
#myheader ul li a {
  font-size: 16px;
}
/* verandert de tekstkleur van de links in een listitem wanneer je
met je muis over de link gaat zoals in de navbar */
#myheader ul li a:hover {
  color: cyan;
}
/* creërt een underline voor de links in de list de onderlijning
expands wanner je erover hovert */
#myheader ul li::after {
  content: "";
  width: 0%;
  height: 1px;
  background: cyan;
  border-radius: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  transition: 1s;
}
/* zet de stijlen voor de geselecteerde tekst als een cyaan achtergrond
met zwarte tekst */
::selection {
  background: cyan;
  color: rgb(0, 0, 0);
}
#myheader ul li:hover::after {
  width: 100%;
  transition: 1s;
}
.active {
  color: aqua !important;
}
#myheader .logo a {
  margin-left: -160px;
  font-weight: 600;
  font-size: 20px;
}
.cart-btn {
  padding: 20px 32px;
  background: var(--brown);
}
.cart-btn:hover {
  background: var(--grey);
}
/* dit zijn de stijlen voor de toggle button op het begin zijn deze verborgen
met een bruine achtergrond */
#myheader .toggle {
  width: 3rem;
  height: 3rem;
  display: none;
  background: var(--brown);
  justify-content: center;
  align-items: center;
  z-index: 11;
}
#myheader .toggle i {
  font-size: 24px;
  /* hiermee centreren we het element omdat we de hoogte en breedte
  van de container niet vanbuiten weten, dit is voor het dropdown menu icon dat we hebben als we onze site rescalen op een mobiele weergave bijvoorbeeld */
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: white;
}
/* dit is voor de gerescaled zoekbalk op mobiele weergave bijvoorbeeld */
.input-group > .form-control {
  border-radius: 10px 0px 0px 10px !important;
}
input:focus {
  box-shadow: none !important;
}
span#search-addon {
  background: white !important;
  border-radius: 0px 10px 10px 0px !important;
}
/* Navbar css */
/* stijlen voor een aangepaste navbar met donkere achtergrond, gecentreerde tekst
en op het begin nog verborgen en als je rescaled naar bv mobiele weergave dan krijg je deze nieuwe navbar te zien */
.custom-nav {
  width: 100%;
  background: #303e4b;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 20px;
  text-align: center;
  position: absolute;
  top: 0;
  display: none;
}
.custom-nav ul li {
  list-style-type: none;
  margin-bottom: 20px;
}
.custom-nav ul li a {
  position: relative;
}
/* Homepagina css */
/* stijlen voor de inhoud van de Homepagina, tekstkleur, de breedte en borders
van een elemente en de styling span */
.home-content p {
  color: #cccccc;
}
.home-content .wie {
  width: 79px !important;
  border-radius: 50% !important;
}
.home-content span {
  font-size: 20px !important;
  margin-left: 20px;
}
.circle {
  border-radius: 50%;
}
/* Overzichtpagina CSS */
/* stijlen voor afbeelding gebeid in de sectie waar ook de afmetingen ingesteld worden
en zorgen dat de container gevuld is */
#page2-section .img-area {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
#page2-section .img-area img {
  width: 100%;
  height: 100%;
}
/* stijlen voor de flexcontainer waar de innoud gecentreerd wordt
en de flex richting ingesteld is */
.custom-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
 /* Containergrootte voor map */
 #map1, #map2, #map3 {
  height: 300px;
  width: 100%;
  margin-bottom: 20px;
}
label{
  color: white;
}
